@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

:root {
  --primary-color: #534DC6;
  --primaryfg: #E1EBED;
  --primarybg: #010104;
  --text-color: #B0B5B6;
  --secondary-color: #19182B;
  --accent: #C07BBC;
  --success: #639A55;
  --error: #C95B5B;
}

html {
  font-family: "Inter Variable", sans-serif;
  @apply text-primaryfg bg-primarybg;
}

html, body {
  @apply h-full;
}

.color-select-default {
  @apply block rounded focus:ring-0 focus:outline-none h-[50px] flex-none;
}

.color-select-default::-webkit-color-swatch {
  @apply border-0 rounded;
}

.color-select-default::-moz-color-swatch {
  @apply border-0 rounded;
}

.v-enter-active,
.v-leave-active {
  transition: opacity .2s ease-in-out;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.p-datepicker:not(.p-datepicker-inline) {
  width: auto !important;
  display: flex;
}

.p-datepicker .p-timepicker {
  border-top: none;
  border-left: 1px solid #424b57;
  margin-left: .5rem;
}

.p-datatable .p-datatable-tbody > tr.p-rowgroup-header {
  background: #1A2330;
}

.p-datatable .p-datatable-tbody > tr.p-rowgroup-header > td {
  padding: 0.5rem 1rem;
}

.p-datatable .p-datatable-tbody > tr > td {
  border: none;
}