@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

:root {
  --primary-color: #534DC6 !important;
  --primary-dark-color: #292663;
  --primaryfg: #E1EBED;
  --primarybg: #010104;
  --secondary-300: #26253b;
  --secondary-400: #201f34;
  --secondary-500: #19182B;
  --secondary-600: #131320;
  --accent: #C07BBC;
  --success: #639A55;
  --error: #C95B5B;
}

html {
  font-family: "Inter Variable", sans-serif;
  @apply text-primaryfg bg-primarybg;
}

html, body {
  @apply h-full;
}

.color-select-default {
  @apply block rounded focus:ring-0 focus:outline-none h-[50px] flex-none;
}

.color-select-default::-webkit-color-swatch {
  @apply border-0 rounded;
}

.color-select-default::-moz-color-swatch {
  @apply border-0 rounded;
}

.v-enter-active,
.v-leave-active {
  transition: opacity .2s ease-in-out;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.p-datepicker:not(.p-datepicker-inline) {
  width: auto !important;
  display: flex;
}

.p-datepicker .p-timepicker {
  border-top: none;
  border-left: 1px solid #424b57;
  margin-left: .5rem;
}

.p-datatable .p-datatable-tbody > tr.p-rowgroup-header > td {
  padding: 0.5rem 1rem;
}

.p-datatable .p-datatable-tbody > tr > td {
  border: none;
}

.p-panel-header,
.p-panel-content,
.p-panel-footer,
.p-paginator,
.p-toolbar,
.p-datatable-header,
.p-dialog-header,
.p-dialog-content,
.p-dialog-footer,
.p-dialog,
.p-datepicker,
.p-datepicker-header {
  background: var(--secondary-500);
  border-color: var(--secondary-300) !important;
}

.p-dropdown,
.p-inputtext,
.p-multiselect {
  background: var(--secondary-600);
  border-color: var(--secondary-300) !important;
}

.p-datatable .p-datatable-tbody > tr {
  background: var(--secondary-500);
}

.p-datatable .p-datatable-thead > tr > th {
  background: var(--secondary-300);
  border-color: var(--secondary-300) !important;
}

.p-datatable .p-datatable-tbody > tr.p-rowgroup-header {
  background: var(--secondary-400);
}

.p-dropdown-panel {
  background: var(--secondary-300);
}